<div class="publishers-available">
    <!-- Feed Names Here -->
    <% if (publishers_available.length) { %>
        <h3>Publishers Available</h3>
        <% publishers_available.forEach(publisher_segment => { %>
            <a href="#<%=publisher_segment[1]%>" class="publisher-name"><%=publisher_segment[0]%></a>
        <% }) %>    
    <% } else { %>
        <h3>No Publishers Available</h3>
    <% } %>
    <!-- End Feed Names -->
</div>