body {
    padding: 2em;
    background: #f7eae5;
    color: #282726;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.publisher-card-title,
.publisher-article-title {
    display: inline-block;
}