body {
    padding: 2em;
    background: #f7eae5;
    color: #282726;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


@media screen and (min-width: 992px) {
    .publisher-articles {
        padding-left: 8em;
        padding-right: 8em;
    }
}

.publisher-card-title,
.publisher-article-title {
    display: inline-block;
}